.article__img {
    margin: auto;
    width: 100%
}

a.link__scripts {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.linkscript {
    text-align: center;
    background-color: rgb(3, 3, 3);
    width: 50%;
    margin: auto;
}

.content__text {
    text-align: justify;
}

@media screen and (min-width:900px) {
    .linkscript {
        width: 30%
    }
}