.faq__description {
    margin-bottom: 3rem;
}

.article__content {
    text-align: justify;
    margin-bottom: 3rem;
}

.faq__question {
    font-weight: bolder;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.faq__reponse {
    margin-bottom: 1rem;
    text-align: justify;
}

.divider {
    height: 1px;
    background-color: black;
}